.box-title {
  margin-top: 20px !important;
  padding: 16px;
  color: #f9c203;
}

// kakao map start-----------------------------------------------------------
.map {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 220px;
  height: 132px;
  margin-left: -109px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;

  * {
    padding: 0;
    margin: 0;
  }

  .info {
    width: 286px;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;

    &:nth-child(1) {
      border: 0;
      box-shadow: 0px 1px 2px #888;
    }

    .title {
      padding: 8px 0 0 10px;
      height: 35px;
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-size: 16px;
      font-weight: bold;
      color: #222;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #888;
      width: 17px;
      height: 17px;
      background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");

      &:hover {
        cursor: pointer;
      }
    }

    .body {
      position: relative;
      overflow: hidden;
    }

    .desc {
      position: relative;
      margin: 13px 0 0 20px;
      height: 75px;
      color: #222;

      .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .jibun {
        font-size: 11px;
        color: #888;
        margin-top: -2px;
      }
    }

    .img {
      position: absolute;
      top: 6px;
      left: 5px;
      width: 0px;
      height: 0px;
      border: 1px solid #ddd;
      color: #888;
      overflow: hidden;
    }

    &:after {
      content: "";
      position: absolute;
      margin-left: -12px;
      left: 50%;
      bottom: 0;
      width: 22px;
      height: 12px;
      background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
    }

    .link {
      color: #5085bb;
    }
  }
}
// kakao map end-----------------------------------------------------------

// cup-box start-----------------------------------------------------------
.cup-wrap {
  height: 350px;
}
.cup-box {
  display: flex;
  gap: 20px;
  height: 250px;
}
.cup {
  width: 200px;
  // margin-left: 50px;
}
.cup01-box {
  width: 250px;
}
.cup01 {
  animation: cup01 1s linear infinite;
}
.cup02-box {
  width: 250px;
}
.cup02 {
  width: 200px;
  animation: cup02 5s linear infinite;
}
@keyframes cup01 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(-5deg);
  }
}
@keyframes cup02 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// cup-box end-----------------------------------------------------------

// purecounter-box start-------------------------------------------------
.purecounter-wrap {
  height: 300px;
}
.purecounter-box {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.counter {
  height: 72px;
}
.purecounter {
  font-size: 60px;
}
.measure {
  position: absolute;
  bottom: 0px;
  left: 200px;
}
// purecounter-box end---------------------------------------------------

// banner start-----------------------------------------------------------
.banner-box {
  position: relative;
  overflow-x: visible;
  height: 50px;
  // margin-top: 50px;
}
.banner-inner {
  height: 190px;
  // width: 150%;
  position: absolute;
  top: 0;
  left: 0px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f9c203;
  animation: banner 18s infinite linear;
}
@keyframes banner {
  0% {
    left: 0px;
  }
  100% {
    left: -1730px;
  }
}
.banner-text {
  font-size: 76px;
  white-space: nowrap;
  font-weight: 700;
}
.banner-graphic {
  width: 76px;
  height: 76px;
}
.banner-graphic {
  animation: cup02 8s linear infinite;
}
// banner end-----------------------------------------------------------

// swiper start---------------------------------------------------------
.swiper-box {
  height: 500px;
  margin-bottom: 100px;
  position: relative;
  top: 250px;
}
.swiper {
  width: 500px;
  height: 219px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  height: 40px;
}
.swiper-text {
  font-size: 16px;
  color: #222;
}
// swiper end-----------------------------------------------------------
