@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard Variable", "Pretendard", "-apple-system", "BlinkMacSystemFont", system-ui, "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #fff;
  background-color: #000;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #fff;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

form {
  font-family: ' "Pretendard Variable", "Pretendard"', sans-serif;
}

input {
  font-family: "Pretendard Variable", "Pretendard", sans-serif;
}

button {
  font-family: "Pretendard Variable", "Pretendard", sans-serif;
}

.wrap,
.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: none;
  margin: 0;
  overflow-x: hidden;
}
.wrap ::-moz-selection, .main-wrap ::-moz-selection {
  background-color: #d92b2b;
}
.wrap ::selection,
.main-wrap ::selection {
  background-color: #d92b2b;
}
.wrap .inner,
.main-wrap .inner {
  min-width: 1280px;
  max-width: 1280px;
  margin: 0 auto;
}

.accordion-button:not(.collapsed) {
  background: #b467fd;
  color: #fff;
}

#header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s;
  z-index: 1000;
  border-bottom: 1px solid #c587ff;
  padding: 0 40px;
}
#header .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  gap: 20px;
}
#header .menu {
  position: relative;
  font-size: 20px;
}
#header .menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scale(0);
}
#header .menu:hover {
  color: #c587ff;
  transition: all 0.2s;
}
#header .menu:hover::after {
  transform: scale(1);
  transform-origin: center;
  background: #c587ff;
  transition: all 0.2s;
}
#header .inner {
  max-width: 1280px;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
}
@media screen and (max-width: 1280px) {
  #header .inner {
    max-width: 1024px;
    margin: 0 5.556vw;
    justify-content: space-between;
  }
}
#header #logo {
  background: url(../../images/comm/logo-white.png) no-repeat 0 0/100%;
  width: 135px;
  height: 45px;
}
@media screen and (max-width: 1280px) {
  #header #logo {
    width: 120px;
    height: 41px;
  }
}
@media screen and (max-width: 728px) {
  #header #logo {
    width: 100px;
    height: 31px;
  }
}
#header .logo-inner {
  display: block;
  width: 100%;
  height: 100%;
}
#header .depth {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  #header .depth {
    display: none;
  }
}
#header .dep-1-box {
  height: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
}
#header .dep-1-li {
  height: 100%;
  display: flex;
  align-items: center;
}
#header .dep-1-li.active .dep-1-el {
  color: #c587ff;
}
#header .dep-1-li.active .dep-2-box {
  opacity: 1;
  visibility: visible;
  height: auto;
}
#header .dep-1-li.active .dep-2-box:before {
  transform: scaleX(100%);
}
#header .dep-1-el {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 1.5;
  color: #fff;
  transition: color 0.3s;
}
@media screen and (max-width: 360px) {
  #header .dep-1-el {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.48px;
    line-height: 1.5;
    color: #fff;
  }
}
#header .dep-2-box {
  opacity: 0;
  visibility: hidden;
  height: 0px;
  display: flex;
  justify-content: center;
  gap: 28px;
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  transition: all 0.5s ease;
}
#header .dep-2-box:before {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  background: radial-gradient(#fff, #000);
  transform: scaleX(0%);
  transition: transform 0.5s ease 0.3s;
}
#header .dep-2-el {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.5;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  gap: 20px;
  display: block;
  padding: 13px 0;
}
#header .dep-2-el:hover {
  color: #c587ff;
}
#header .m-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  height: 100vh;
  opacity: 0;
  padding-top: 100px;
  background: #000;
  z-index: 10;
  overflow-y: auto;
  transition: all 0.5s;
}
#header .m-nav.active {
  opacity: 1;
  left: 0;
}
#header .m-nav.active #header {
  background: #000;
}
#header .m-dep-2-box {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.8s ease;
}
#header .m-dep-2-box:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  transform: scaleX(0%);
  transform-origin: left;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), #000);
  transition: all 0.5s;
}
#header .m-dep-1-li {
  padding: 10px 9.722vw;
}
#header .m-dep-1-li.active .dep-1-el {
  color: #c587ff;
}
#header .m-dep-1-li.active .m-dep-2-box {
  height: auto;
  opacity: 1;
  visibility: visible;
  padding: 20px 0;
}
#header .m-dep-1-li.active .m-dep-2-box::before {
  transform: scaleX(100%);
}
#header .m-dep-1-li.active .arr-icon {
  transform: rotate(180deg);
}
#header .m-dep-1-li .dep-1-el {
  justify-content: space-between;
  width: 100%;
}
#header .m-select {
  display: flex;
  margin: 50px 9.722vw;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  #header .m-select {
    margin: 40px 9.722vw;
  }
}
#header .select-el {
  width: 130px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
}
#header .select-el:hover {
  background: #8a2be2;
}
#header .select-el .login,
#header .select-el .request {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #header .select-el {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
}
#header .m-language {
  text-align: center;
  margin-top: 40px;
}
#header .m-language .lang {
  font-size: 14px;
}
#header .m-language .lang:hover {
  color: #c587ff;
}
#header .m-language .ko:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background: #fff;
  margin: -3px 10px;
}
#header .m-language .en {
  margin-left: -5px;
}
#header .copyright {
  text-align: center;
  margin-top: 12px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1280px) {
  #header .m-nav {
    display: block;
  }
  #header .arr-icon {
    font-size: 30px;
  }
}
@media screen and (max-width: 360px) {
  #header .arr-icon {
    font-size: 24px;
  }
}
#header .icon-box {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 28px;
}
#header .icon-el {
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  #header .icon-el {
    display: none;
  }
}
#header .icon-inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.3s;
}
#header .icon-inner:hover {
  color: #c587ff;
}
#header .icon-inner.active .lang-el {
  height: 45px;
  visibility: visible;
  opacity: 1;
  padding: 10px 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#header .icon-inner.active .ko {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#header .hd-icon {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 30px;
}
#header .select-lang {
  position: absolute;
  top: 80px;
  left: 0;
  transform: translateX(-41.5px);
}
#header .lang-el {
  display: block;
  width: 113px;
  height: 0;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  text-align: center;
  color: #000;
  background: #fff;
  transition: all 0.3s;
}
#header .lang-el:hover {
  color: #fff;
  background: blueviolet;
}
#header .ko {
  border-radius: 10px 10px 0 0;
}
#header .en {
  border-radius: 0 0 10px 10px;
}
#header .m-menu {
  display: none;
}
@media screen and (max-width: 1280px) {
  #header .m-menu {
    display: block;
  }
  #header .m-menu.active .line:first-child {
    transform: translateY(7px) rotate(45deg);
    transform-origin: center;
  }
  #header .m-menu.active .line:nth-child(2) {
    display: none;
  }
  #header .m-menu.active .line:nth-child(3) {
    transform: translateY(-1px) rotate(-45deg);
    transform-origin: center;
  }
  #header .m-menu .line {
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    border-radius: 2px;
    background: #fff;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 1280px) {
  #header {
    height: 100px;
  }
}
@media screen and (max-width: 1024px) {
  #header {
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  #header {
    height: 60px;
  }
}
.goto-top {
  width: 45px;
  height: 45px;
  background: rgba(217, 43, 43, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 45px;
  text-align: center;
  line-height: 45px;
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 100;
}
.goto-top:hover {
  background: #d92b2b;
}

.goto-top-icon-box {
  display: block;
  width: 100%;
  height: 100%;
}

.goto-top-icon {
  color: #fff;
  font-size: 30px;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 45px;
}
.goto-top-icon:hover {
  color: #fff;
}

.section {
  height: 500px;
  background: #222;
}

#main {
  flex-grow: 1;
}
#main .inner {
  height: 100%;
  padding: 6.944vw 0;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  #main .inner {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  #main .inner {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  #main .inner {
    max-width: 480px;
  }
}
@media screen and (max-width: 480px) {
  #main .inner {
    max-width: 328px;
  }
}
#main .tit {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: normal;
  line-height: normal;
  color: #fff;
  line-height: 1.5;
}
@media screen and (max-width: 1280px) {
  #main .tit {
    font-weight: 700;
    font-size: 42px;
    letter-spacing: normal;
    line-height: normal;
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  #main .tit {
    font-weight: 700;
    font-size: 32px;
    line-height: normal;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    color: #fff;
  }
}
#main .sub-tit {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: normal;
  line-height: normal;
  color: #fff;
}
@media screen and (max-width: 1280px) {
  #main .sub-tit {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: normal;
    line-height: normal;
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  #main .sub-tit {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: normal;
    line-height: normal;
    color: #fff;
  }
}
#main .content,
#main .side-bar-li {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 1.5;
  color: #fff;
}
@media screen and (max-width: 1280px) {
  #main .content {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.5;
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  #main .content {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.42px;
    line-height: 1.5;
    color: #fff;
  }
}
#main .main-visual .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 70px);
}
#main .main-visual .inner .txt-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
#main .main-visual .inner .txt-wrap .sub-tit {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: normal;
  line-height: 1.5;
  color: #fff;
}
@media screen and (max-width: 1280px) {
  #main .main-visual .inner .txt-wrap .sub-tit {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 1.5;
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  #main .main-visual .inner .txt-wrap .sub-tit {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.5;
    color: #fff;
  }
}
#main .main-visual .side-bar-wrap {
  height: 70px;
}
#main .main-visual .side-bar-wrap .inner {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
#main .main-visual .side-bar-wrap .side-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#main .main-visual .side-bar-wrap .side-bar-li {
  display: block;
  width: 124px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  transition: all 0.3s;
}
#main .main-visual .side-bar-wrap .side-bar-li.active {
  background: #d92b2b;
  border-radius: 43px;
}
@media screen and (max-width: 1280px) {
  #main .main-visual .side-bar-wrap .side-bar-li {
    width: 115px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #main .main-visual .side-bar-wrap .side-bar-li {
    width: 90px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
  }
}

@media screen and (max-width: 1280px) {
  .inner {
    padding: 0;
  }
}
#footer .inner {
  height: 100%;
  padding: 4vw 0;
  max-width: 1280px;
  margin: 0 auto;
}

.note-sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.note-sns .sns-list {
  display: flex;
  gap: 15px;
}
.note-sns .fa-brands {
  font-size: 24px;
  transition: all 0.3s;
}
.note-sns .fa-brands:hover {
  color: rgba(255, 255, 255, 0.6);
}

.info-letter {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.info-letter .info-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgba(255, 255, 255, 0.6);
}
.info-letter .info-list span {
  color: #fff;
}
.info-letter .etc {
  margin-top: 25px;
}
.info-letter .etc .copy {
  color: rgba(255, 255, 255, 0.6);
}
.info-letter .letter {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
}
.info-letter .letter input {
  padding: 0 20px;
  width: 160px;
  height: 32px;
  border-radius: 50px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.info-letter .letter input:nth-child(2) {
  margin-left: 8px;
}
.info-letter .letter input::-moz-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.info-letter .letter input::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.info-letter .letter button {
  margin-left: 10px;
  width: 75px;
  height: 32px;
  border-radius: 50px;
  background: #d92b2b;
  color: #fff;
  transition: all 0.3s;
}
.info-letter .letter button:hover {
  background: #fff;
  color: #d92b2b;
}

@media screen and (max-width: 1280px) {
  #footer .inner {
    padding: 4vw 5.556vw;
  }
  .note-sns {
    gap: 100px;
  }
  .note-sns .note {
    font-size: 14px;
  }
  .note-sns .sns-list {
    gap: 10px;
  }
  .info-letter {
    gap: 80px;
  }
  .info-letter .letter {
    flex-direction: column;
    height: 100%;
  }
  .info-letter .letter .tit {
    font-weight: 700;
  }
  .info-letter .letter input:nth-child(2) {
    margin-left: 0;
  }
  .info-letter .letter button {
    margin-left: 0;
    margin-top: 10px;
  }
  .info-letter .info {
    font-size: 14px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
@media screen and (max-width: 768px) {
  #footer .inner {
    padding: 4vw 5.556vw;
  }
  .note-sns {
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
  }
  .note-sns .note {
    text-align: center;
  }
  .note-sns .fa-brands {
    font-size: 22px;
  }
  .info-letter {
    flex-direction: column-reverse;
    margin-top: 30px;
    gap: 0;
  }
  .info-letter .info-list {
    gap: 10px;
  }
  .info-letter .letter {
    justify-content: space-between;
    gap: 20px;
  }
  .info-letter .letter input {
    width: 100%;
  }
  .info-letter .info {
    margin-top: 30px;
  }
  .info-letter .form {
    width: 100%;
    gap: 10px;
  }
}
.box-title {
  padding-top: 16px;
}

.map {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 220px;
  height: 132px;
  margin-left: -109px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
}
.map * {
  padding: 0;
  margin: 0;
}
.map .info {
  width: 286px;
  height: 120px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.map .info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.map .info .title {
  padding: 8px 0 0 10px;
  height: 35px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: bold;
  color: #222;
}
.map .info .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
}
.map .info .close:hover {
  cursor: pointer;
}
.map .info .body {
  position: relative;
  overflow: hidden;
}
.map .info .desc {
  position: relative;
  margin: 13px 0 0 20px;
  height: 75px;
  color: #222;
}
.map .info .desc .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.map .info .desc .jibun {
  font-size: 11px;
  color: #888;
  margin-top: -2px;
}
.map .info .img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 0px;
  height: 0px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
}
.map .info:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.map .info .link {
  color: #5085bb;
}

.cup-box {
  display: flex;
  gap: 20px;
  height: 250px;
}

.cup {
  width: 200px;
}

.cup01-box {
  width: 250px;
}

.cup01 {
  animation: cup01 1s linear infinite;
}

.cup02-box {
  width: 250px;
}

.cup02 {
  width: 200px;
  animation: cup02 5s linear infinite;
}

@keyframes cup01 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(-5deg);
  }
}
@keyframes cup02 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.purecounter-box {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.counter {
  height: 72px;
}

.purecounter {
  font-size: 60px;
}

.measure {
  position: absolute;
  bottom: 0px;
  left: 200px;
}

.banner-box {
  position: relative;
  overflow-x: visible;
  margin-top: 50px;
}

.banner-inner {
  height: 190px;
  position: absolute;
  top: 0;
  left: 0px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f9c203;
  animation: banner 18s infinite linear;
}

@keyframes banner {
  0% {
    left: 0px;
  }
  100% {
    left: -1730px;
  }
}
.banner-text {
  font-size: 76px;
  white-space: nowrap;
  font-weight: 700;
}

.banner-graphic {
  width: 76px;
  height: 76px;
}

.banner-graphic {
  animation: cup02 8s linear infinite;
}

.inner-box {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.title {
  font-size: 56px;
  position: relative;
  z-index: 10;
}

.circle {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #4d23e7;
  z-index: 2;
}

.circle2 {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: rgb(255, 80, 11);
  z-index: 1;
}

.circle3 {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #4d23e7;
  z-index: 2;
}

.rect-box {
  display: flex;
}

.rect {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100vh;
  background: rgb(255, 81, 0);
  z-index: 4;
}

.rect2 {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100vh;
  background: #000000;
  z-index: 3;
}

.rect3 {
  position: absolute;
  width: 1920px;
  height: 100vh;
  background: #4d23e7;
  z-index: 5;
}

.rect4 {
  position: absolute;
  width: 1920px;
  height: 100vh;
  background: #000;
  z-index: 4;
}

.wrap {
  display: none;
}

.content-wrap {
  height: 100svh;
}

.line-wrap {
  height: 200svh;
  position: relative;
}

.line-box {
  display: flex;
  gap: 100px;
}

.line {
  height: 100vh;
  width: 1px;
  background: rgb(255, 81, 0);
  position: relative;
  z-index: 10;
  animation: down 1.5s 0.5s ease-in-out;
  transform-origin: top;
}

@keyframes down {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=comm.css.map */